@model IEnumerable<IdrugWeb.Models.MedicamentoModel>

@{
    ViewData["Title"] = "Medicamento";
}

<h1>Medicamento</h1>


<div class="container-link" style="background-color: #004595">
    <a asp-controller="Medicamento" asp-action="Create" class=" d-flex align-items-center justify-content-center w-100 h-100">
        <p class="container-texto" style="color:white">
            Novo Medicamento
        </p>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdMedicamento }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdMedicamento }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdMedicamento })
            </td>
        </tr>
}
    </tbody>
</table>
