@model IEnumerable<IdrugWeb.Models.CategoriaMedicamentoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdCategoriaMedicamento }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdCategoriaMedicamento }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdCategoriaMedicamento })
            </td>
        </tr>
}
    </tbody>
</table>
