@model IdrugWeb.Models.DisponibilizarMedicamentoViewModel

@{ ViewData["Title"] = "Disponibilizações"; }

<div class="d-flex w-100">
    <img style="width: 50px; height: 50px;" src="~/assets/img/farmaciaIDRUG.png" alt="Icone de farmácia" />
    <h1> DISPONIBILIZAR</h1>
</div>
<br>
<div class="p-3 bg-primary text-white"><h4>Disponibilizar Medicamentos</h4></div>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" style="width: 250px; height: 40px; background-color: rgba(0,0,255,0.1);" type="search" placeholder="Informe o medicamento" aria-label="Pesquisar">
        <button class="btn  btn-sm btn-outline-primary my-2 my-sm-0" type="submit">Procurar</button>
    </form>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Inicio da Disponibilização
            </th>
            <th>
                Lote
            </th>
            <th>
                Data de Vencimento
            </th>
            <th>
                Quantidade Disponivel
            </th>
            <th>
                Status
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaDisponibilizacaoMedicamentosModel)
        {
            var medicamento = Model.listaMedicamento.FirstOrDefault(med => med.IdMedicamento == item.IdMedicamento);
            <tr>
    <td>
            @(medicamento != null ? medicamento.Nome : "");
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataInicioDisponibilizacao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lote)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataVencimento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuantidadeDisponivel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StatusMedicamento)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IdDisponibilizacaoMedicamento }) |
        @Html.ActionLink("Detalhes", "Details", new { id = item.IdDisponibilizacaoMedicamento }) |
        @Html.ActionLink("Excluir", "Delete", new { id = item.IdDisponibilizacaoMedicamento })
    </td>
</tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-primary float-right text-white" asp-action="Create">Nova Disponibilização</a>
</p>
