@model IdrugWeb.Models.DisponibilizarMedicamentoModel

@{
    ViewData["Title"] = "Detalhes Disponibilização";
}

<h1>Disponibilização Medicamento</h1>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDisponibilizacaoMedicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDisponibilizacaoMedicamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioDisponibilizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioDisponibilizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimDisponibilizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimDisponibilizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidadeMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidadeMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidadeAno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidadeAno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusMedicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusMedicamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeReservada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeReservada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeEntregue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeEntregue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeDisponivel)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdDisponibilizacaoMedicamento}) |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
