@model IEnumerable<IdrugWeb.Models.DisponibilizarMedicamentoModel>

@{
    ViewData["Title"] = "Disponibilizações";
}

<h1>Medicamentos Disponibilizados </h1>

<p>
    <a asp-action="Create">Nova Disponibilização</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDisponibilizacaoMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioDisponibilizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(ControllerContext => item.IdDisponibilizacaoMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioDisponibilizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeDisponivel)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdDisponibilizacaoMedicamento}) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.IdDisponibilizacaoMedicamento}) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.IdDisponibilizacaoMedicamento })
            </td>
        </tr>
}
    </tbody>
</table>
