@model IEnumerable<IdrugWeb.Models.DisponibilizarMedicamentoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Disponibilizar Medicamento</h1>

<p>
    <a asp-action="Create">Criar Nova Disponibilização</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDisponibilizacaoMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioDisponibilizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimDisponibilizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidadeMes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidadeAno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeReservada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEntregue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDisponibilizacaoMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioDisponibilizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimDisponibilizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidadeMes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidadeAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeReservada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEntregue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeDisponivel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdDisponibilizacaoMedicamento}) |
                @Html.ActionLink("Details", "Details", new { id=item.IdDisponibilizacaoMedicamento}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdDisponibilizacaoMedicamento })
            </td>
        </tr>
}
    </tbody>
</table>
